.portfolio {

  background-color: #F3F3F3;

  padding: 70px 40px 40px 40px;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    padding: 70px 20px 20px 20px;
  }

  @media (max-width: 767px) {
    padding: 70px 10px 10px 10px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__selector {
    display: flex;
    //background-color: antiquewhite;

    margin-bottom: 130px;

    li {
      user-select: none;
      cursor: pointer;
      margin-right: 50px;
      text-transform: uppercase;
      font-size: 15px;

      &:hover {
        color: #ADA074;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(2, 539px);
    gap: 26px;

    margin-bottom: 60px;

    justify-items: center;

    @media (max-width: 1024px) {
      gap: 10px;
    }

    @media (max-width: 767px) {
      grid-template: none;
      grid-auto-flow: row;
      width: 100%;
    }

  }
  &__item {
    width: 539px;
    height: 366px;
    background-color: #EAEAEA;

    @media (max-width: 767px) {
      width: 100%;
    }

  }
  &__image {}

  &__button {
    button {
      text-transform: uppercase;
      border-color: black;
      color: black;
      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0,0, 0.3);
      }

      &:active {
        background-color: rgba(0, 0,0, 0.2);
      }
    }
  }
}